.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.customNav{
    background-color: #10969B !important;
}

body {background-color: #FFF8EE;}

.firstJumbo{
    background-image: url(/images/image\ 1\ \(2\).png);

}

.title1{
    text-align: center;
}

